<<<<<<< HEAD
@import "~bootstrap/dist/css/bootstrap.min.css";

=======
>>>>>>> e4d3708ce0122713b27d0fa150f2f2567e6b6b33
.container {
  width: 70%;
  height: 400px;
  margin: 0px auto;
  background: #ccc;
}

.container h1,
section > p {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

section {
  height: 300px;
}

section p {
  font-size: 50px;
}

#boton {
  width: 80px;
  height: 25px;
  margin: 0px auto;
  margin-top: 40px;
}

#generator {
  text-align: center;
<<<<<<< HEAD
  border: 1px solid black;
  border-radius: 2px;
=======
>>>>>>> e4d3708ce0122713b27d0fa150f2f2567e6b6b33
}
